@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-image: url("../../public//noise4.jpeg");
}
/* Theme tokens */
@theme {
  /* Light Theme (default) */
  --color-bg: 242 100% 95%; /* #F2F2F2 */
  --color-text: 0 0% 0%; /* #000000 */
  --color-primary: 0 0% 0%; /* #000000 */
  --color-secondary: 234 100% 27%; /* #000000 */
  --bg-secondary: 234 100% 27%; /* #FFFFFF */
  --color-primary-gray: 0 0% 0% / 0.66;
  --color-secondary-gray: 0 0% 54%; /* #8A8A8A */
  --color-secondary: 0 0% 37%; /* #5E5E5E */
  --color-muted: 0 0% 95%; /* #F5F5F5 */
  --color-accent: 0 0% 92%; /* #EBEBEB */
  --button-bg-secondary: 0 0% 86% / 0.44; /* hsla(0, 0%, 86%, 0.44) */
  --font-display: var(
    --font-beatrice
  ); /* use the variable from next/font/local */
}

@layer base {
  :root {
    color-scheme: light;
    color: hsl(var(--color-text));
    font-family: var(--font-display);
  }

  .dark {
    --color-bg: 0 0% 10%;
    --color-text: 0 0% 100%;
    --color-primary: 0 0% 100%;
    --color-secondary: 0 0% 70%;
    --bg-secondary: 0 0% 20%;
    --color-muted: 0 0% 20%;
    --color-accent: 0 0% 30%;
  }
}

/* Optional utility classes */
@layer utilities {
  .text-theme {
    color: hsl(var(--color-text));
  }

  .text-primary {
    color: hsl(var(--color-primary));
  }
  .text-secondary {
    color: hsl(var(--color-secondary));
  }
  .bg-secondary {
    background-color: hsl(var(--bg-secondary));
  }
  .text-primary-gray {
    color: hsl(var(--color-primary-gray));
  }

  .text-secondary-gray {
    color: hsl(var(--color-secondary-gray));
  }
  .text-accent {
    color: hsl(var(--color-accent));
  }
  .text-secondary {
    color: hsl(var(--color-secondary));
  }
  .button-bg-secondary {
    background-color: hsl(var(--button-bg-secondary));
  }
  .shadow-glow {
    box-shadow: 0 0 8px 2px rgba(239, 68, 68, 0.6);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce-badge {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.animate-wiggle {
  animation: wiggle 0.5s ease-in-out;
}

.animate-bounce-badge {
  animation: bounce-badge 0.5s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
}
